

/*---------------------------- hero-image ----------------------------*/
.hero-image {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image  .hero-text {
  text-align: center;
  color: #fff;
  width: 70%;
}
.hero-image  .hero-text h2{
    font-weight:100;
    font-family: arial ,tahoma;
    font-size: 24px;
}

.hero-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin: 2rem auto;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.hero-btn:hover {
  border: 5px solid #fff;
}

.hero-arrow {
  color: #fff;
  margin: 2rem auto;
  width: 2.5em;
}
/* 
.hero-image > div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-image > div:last-child {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}  */
/*---------------------------- end hero-image style ----------------------------*/

/* Start Home page style */

/* brands section*/
.Ev-En{
  display: none;
}
.brands ul {
  flex-wrap: wrap;
  justify-content: center;
}
.brands ul li {
  margin-right: 30px;
}
.brands ul li:nth-child(3) a:hover .Ev-En{
  display: inline;
  /* transition: all 0.3s ease-in-out; */
}
.brands ul li:last-child {
  margin-left: 100px;
}

.brands ul li a {
  transition: all 0.3s ease-in-out;
  color: #9b9999;
  font-size: larger;
}

.brands ul li a.active,
.brands ul li a:hover,
.brands ul li:nth-child(3)::after {
  text-decoration: underline;
  color: black;
  font-size: x-large
}
.brands .slider {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  /* align-items: baseline; */
}

.owl-next,
.owl-prev {
  text-decoration: underline;
  color: #9b9999 !important;
  font-weight: bold !important;
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
}
.owl-next{
  right: -50px;
}
.owl-prev {
  left: -50px;
}
.owl-next span,
.owl-prev  span {
  display: block !important;
  transform-origin: 80%;
}
.owl-next span {
  transform: rotate(90deg);
}
.owl-prev  span {
  transform: rotate(-90deg);
}

/* end brands section*/

/* latest news */
.latest-news {
  background-color: #f2f0f0;
}
.news .news-box{
  flex: 45%;
  margin:20px 10px;
}
.latest-news {
  padding: 10px;
  margin: 25px 0;
}
 .sort-news{
  border-bottom: 2px solid #999;
  width: 150px;
}
 .sort-news::after{
  content: '+';
  margin-left: 80px;
}
/* end latest news */


.branches .tlt-logo {
  margin-bottom: -25px;
}

.branches .branches-body {
  padding: 50px;
  border: 2px solid #d6d5d5;
}

.branches .branches-body > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  color: #98968d;
}

.brand-name {
  width: 12.5%;
  text-align: left;
  text-transform: uppercase;
  font-size: small;
  padding-left: 30px;
  color: #999;
}
.brand-logo {
  width: 75%;
}

/* End Home page style */

/* About page*/
.about-section  .branches-list li{
  margin: 0.5em 0;
}
.about-section  .branches-list li a{
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

/* End About page*/

@media only screen and (max-width: 1200px) {
  /*About page*/
  .about-section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about-section article > div {
    width: auto !important;
    height: auto !important;
  }
  .order-first-sm {
    order: -1;
  }
  .order-last-sm {
    order: 13;
  }
  /*End About page*/
}
/*
@media (max-width: 900px) {
}
*/

@media (max-width: 600px) {
  main ul, footer ul {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  main ul li, footer ul li{
    margin: 0.5em 0 !important;
    padding: 0;
  }
  .sort-news{
    margin: 10px auto;
  }
}

@media (max-width: 500px) {
  .fs-mobile{
    font-size: 0.8em;
  }

}

@media (max-width: 325px) {
  .fs-mobile{
    font-size: 0.6em;
  }
  footer ul:last-child li:last-child {
    width: auto;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .w-mobile-80{
    width: 80% !important;
  }
  .w-mobile-100{
    width: 100% !important;
  }
  .brand-name {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    margin: 1em 0;
  }
  .brand-logo {
    width: 100%;
  }
}

/*------------------------start  barnd-events --------------------------*/
/*header section background */
  .brand-events ,
  .brand-living ,
  .brand-hospitality,
  .can-limon {
    min-height: 100vh;
    background :  no-repeat center center fixed
  }
/*end header section */

/* main */
/*tlt start grouping pages */
  /**************************************************/
  .tlt-events ,.tlt-hospitality , .tlt-living{
    min-height: 120vh;padding: 100px 0;border-bottom: 3px solid #f0Efee;box-shadow: 2px 2px 10px #d6d5d5;
  }

  .tlt-events .tlt-concept, .tlt-hospitality .tlt-concept , .tlt-living .tlt-concept {
    min-height: 350px;background: #F0EFEE;padding: 20px 0;margin-bottom: 80px;
  }
  .tlt-events .tlt-concept p , .tlt-hospitality .tlt-concept p ,  .tlt-living .tlt-concept p {
    margin: 0 auto;margin-top: 50px;max-width: 880px;font-size: 25px;
  }

  /**************************************************/  
 

  .about-events .event-box .last-text,
  .about-living .living-box .last-text
  {
    margin: 150px auto;
  }

  .about-events,
  .about-hospitality,
  .about-living
  {
    padding: 100px 0 0;
  }
  

 
  .boxtobox{min-height: 100vh;margin-bottom:100px;overflow: hidden;}
  .about-events .event-box .text-box ,
  .about-hospitality .hospitality-box .text-box,
  .about-living .living-box .text-box
  {
    padding: 70px 0;
  }
 
  .about-events .event-box .text-box img ,
  .about-hospitality .hospitality-box .text-box img,
  .about-living .living-box .text-box img
  {
    padding: 10px 0;
    width: 30%;
    margin-bottom: 1rem;
  }
  .about-events .event-box .text-box p,
  .about-hospitality .hospitality-box .text-box p,
  .about-living .living-box .text-box p
  {
    padding: 10px 0  ;
    width: 53%;
    margin: 0 auto;font-size: 16px;
    line-height: 1.2;
  }
  .about-events .event-box .text-box a , 
  .about-hospitality .hospitality-box .text-box a,
  .about-living .living-box .text-box a
  {
    font-size: 14px;
    margin: 0 0 8px 0;
    font-weight: 700;
  }
  .about-events .event-box .text-box i,
  .about-hospitality .hospitality-box .text-box i,
  .about-living .living-box .text-box i
    {
      font-size: 10px;
    }
  
  .about-hospitality .hospitality-box .img-box , .about-events .event-box .img-box,.about-living .living-box .img-box {
    
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
 
  .about-events .event-box .img-box img,
  .about-hospitality .hospitality-box .img-box img ,
  .about-living .living-box .img-box img
  {
    max-height: 100%;
    width: 100%;
    
  }
  
  
  .about-living .living-box .text-box img {
    padding: 0;
  }
/* // about tlt events */
.hospitality-box .col-md-6 , .living-box .col-md-6 , .about-events .col-md-6 {padding: 0;}
.tlt-living .tlt-concept p {width: 46%;}

/*------------- start can limon ---------------*/
.we-can-do{padding: 100px 0 30px;}

.we-can-do .content-box{min-height: 60vh;margin-bottom: 20px;overflow: hidden;}
.we-can-do .text-box {height: 100%;width:67%;}
.we-can-do .text-box h4{margin:80px 0 10px ;letter-spacing: 2px;}
.we-can-do .img-box{width: 100%;height: 100%;}
.we-can-do .text-box-2{width: 85%;}
.we-can-do .text-box-2 h4{margin-top: 150px !important;letter-spacing: 2px;margin-left: 5rem;}
.we-can-do .text-box-2 p{margin-left: 5rem;}
@media (max-width:767px){
  .we-can-do{padding: 20px 0 }
  .we-can-do .content-box{margin-bottom: 0px;overflow: hidden;}
  .we-can-do .text-box {width: 95%;text-align: center;}
  .we-can-do .img-box{width: 95%;margin: 10px auto;}
  .we-can-do .content-box img{width: 95%;margin: 10px auto;}
  .we-can-do .text-box-2{width: 95%;margin: 0 auto;}
  .we-can-do .text-box-2 h4{margin-top: 0px !important;text-align: center;margin-left: 0;}
  .we-can-do .text-box-2 p{margin-left: 0;text-align: center;}
}
@media (min-width:768px) and (max-width:991px){
  .we-can-do .text-box h4{margin: 0;}
  .we-can-do .text-box {width: 95%;}
  .we-can-do .text-box-2{width: 100%;}
  .we-can-do .text-box-2 h4{margin-top: 0px !important;margin-bottom: 5px;text-align: left;margin-left: 0;}
  .we-can-do .text-box-2 p{margin-left: 0;font-size:14px;}
  .we-can-do .text-box p{font-size:14px;}
}
@media (min-width:992px) and (max-width:1199px){
  .we-can-do .text-box h4{margin: 0;}
  .we-can-do .text-box {width: 80%;}
  .we-can-do .text-box-2{width: 80%;}
  .we-can-do .text-box-2 h4{margin-top: 0px !important;margin-bottom: 5px;text-align: left;margin-left: 10px;}
  .we-can-do .text-box-2 p{margin-left: 10px;}
  
}
/*----------- // can limon -----------*/

/*----------more-detalis-----------*/
.more-detalis{width: 600px;height: 220px;background: #F2F0F0;padding: 60px 0;margin:20px auto 150px;}

@media (max-width:767px){
  .more-detalis{width: 100%}
}
/*-----------// more detalis --------*/
/*----------view-img -----------*/
.view-img {min-height: 200px;margin-top: 30px;border-top: 2px solid #d6d5d5;}
@media (max-width:767px){
  .view-img .item{margin-top: 20px;}
}
@media (min-width:768px) and (max-width:991px){
  .view-img .item{margin: 15px;}
}

/*--------------* careers page *-----------*/
  .career{margin: 100px 0;}
  .career .career-content{margin-bottom: 100px;}
  .career-content .text-box{margin: 100px 30px 0;padding: 0 50px;}
  .career-content .img-box{width: 100%;}
  .career-celebrate{min-height: 40vh;background-color: #F0EFEE;padding: 80px 0;margin-bottom: 90px;}
  .career-celebrate .celebrate{width: 40%;margin: 0 auto;}
  .join-family{min-height: 40vh;background-color: #F0EFEE;padding: 80px 0;}
  .join-family p{width: 40%;margin: 0 auto;}
  @media (max-width:767px){
    .career{margin: 50px 0}
    .career-content .text-box{margin: 30px 0 0;text-align: center;}
    .career-content .img-box{width: 90%;margin: 15px auto;}
    .career-celebrate .celebrate{width: 90%;}
    .join-family p{width: 90%}
  }
  @media (min-width:768px) and (max-width:991px){
    .career-content .text-box{margin: 30px 0 0;text-align: center;}
    .career-content .text-box p{font-size: 14px;}
    .career-content .img-box{width: 90%;margin: 15px auto;}
    .career-celebrate .celebrate{width: 70%;}
    .join-family p{width: 90%}
  }
/*---------// careers page //--------------*/


/* page contact*/
.contact{background-color: #ebe9e9;margin: 200px auto;padding: 30px 0;width: 60%;margin-bottom: 80px;}
@media (max-width:767px){
  .contact{width: 100%;}
}
/* -- page contact --*/

/*start page event portifolio css */
.search{
  min-height: 80px;
  border-bottom: 1px solidrgba(153, 153, 153, 0.726);
  box-shadow: 2px 2px 5px rgba(153, 153, 153, 0.685);
  margin-top: 40px;
}
.search ul li{border: 1px solid#201825;padding: 12px;line-height: 5px;transition: all .5s;cursor: pointer;}
.search ul li:hover{color: #fff;background-color: #201825;}
.search ul li:first-of-type{color: #fff;background-color: #201825;}
.new-season{margin: 60px 0;}
.new-season .card{border: none;margin-bottom: 10px;}
.new-season .card-body{background-color: #F8F7F7;}
.new-season .card-body img{border-radius: 0;}
@media(max-width:767px){
  .search img{margin: 0 auto;}
  .new-season .card{width: 100%;margin: 0 auto;text-align: center;}
}
@media(min-width:1200px){
  .new-season .card-hr{border-bottom: 2px solid #c4bdaf54;}
}

/*pagination*/

.page-link{border: none;background-color: transparent !important;font-family: 'Gill Sans';color: #333;display: inline !important;}
.page-link span{color: #cdcdcd;}
@media(max-width:767px){
  .pagination li a{display: inline !important;}
}
/*end page event portifolio css */

/*start page event service corporate css */
.services-corporate{margin: 100px 0;}
.services-corporate .text-box:first-of-type{margin-top: 50px;}

.services-corporate .text-box h3{letter-spacing: 5px;}
.services-corporate .text-box p{width: 85%;}
.services-corporate .text-box ul{margin-left: 15px;width: 100%;}
.services-corporate .text-box ul li{list-style: disc;}
.services-corporate .text-box ul li p {padding: 0;margin: 0;}

.event-lifetime .join-family h3 a{color: #555;font-weight: bold;}
.event-lifetime .join-family p{width: 43%;margin: 0 auto;}


@media (max-width:767px){
  .services-corporate .text-box h3{margin: 15px 0;}
  .services-corporate .img-box{width: 95%;margin: 0 auto;}
  .services-corporate .text-box{width: 95%;margin: 0 auto;text-align: center;}
  .services-corporate .text-box ul li{list-style: none;text-align: center;}
  .services-corporate .text-box p{width: 95%;margin: 0 auto;}
  .services-corporate .text-box ul{width: 95%;margin: 0 auto;}
  .event-lifetime .join-family p{width: 85%;}
}
@media (min-width:768px)and (max-width:991px){
  .services-corporate .text-box h3{font-size: 23px;}
  .services-corporate .img-box{width: 100%;}
  .services-corporate .text-box{width: 95%;}
  .services-corporate .text-box p{width: 100%;font-size: 13px;}
  .event-lifetime .join-family p{width: 70%;}
  .services-corporate .text-box:first-of-type{margin-top: 10px;}
}
@media (min-width:992px)and (max-width:1199px){
  .services-corporate .img-box{width: 95%;}
  .services-corporate .text-box{width: 100%;;}
  .services-corporate .text-box:first-of-type{margin-top: 10px;}
}
@media (max-width:767px){
.services-social .img-box{width: 100%;;margin: 0 auto;}
.services-social .img-m{margin-left: 15px;}
}

/*start page event service corporate css with wedding  */

.services-wedding a{font-weight: bold;margin-bottom: 10px;}
@media (max-width:767px){
  .services-wedding .img-m{margin-left: 25px;}
}
.made-width{width: 43% !important;line-height: 1.3;}
@media (max-width:767px){
  .made-width{width: 70% !important;}
}
@media (min-width:768px)and (max-width:991px){
  .made-width{width: 70% !important;}
}
.all-services h3{margin: 20px 0;text-align: left;}
.all-services h3 a{color: #555 ;font-weight:500;}
.all-services p{width: 80%;text-align: left;}


@media (max-width:767px){
.all-services img{width: 80%;margin: 0 auto;}
.all-services h3,.all-services p{margin: 30px 0;text-align: center !important;}
.all-services p{width: 90%;}
}

































/* drop down*/
    .drop{position: relative;margin-right: 15px;}
  
    .drop-menu {
      display: none;position: absolute;
      min-width: 160px;
      z-index: 1;
      transition: 5s;
    }
    .drop-menu a{display: block;color: #fff;margin: 15px 0;}
    .drop-menu a:hover{
      color:#fff;
    }
    .drop:hover .drop-menu{
      display: block;
    }
  

    .change-color-drop a,
    .change-color-drop a:hover,
    .brand-btn-333,
    .nav-links-color a{color: #333 !important;}
    @media (max-width:767px){
      .change-color-drop a,
      .change-color-drop a:hover,
      .nav-links-color a,
      .brand-btn-333{
        color: #fff !important ;
      }
      .drop:hover .drop-menu a{
        padding-left: 100px;
      }
  
    }
    nav .nav-links a{
      color: white !important;
    }
    /*end drop down */





















    /*-------- start media query -----------------*/
    @media (min-width:768px) and (max-width:991px){
      .tlt-events .tlt-concept p , .tlt-hospitality .tlt-concept p ,.tlt-living .tlt-concept p{
        width: 98%;font-size: 20px;
      }
    }
    @media (max-width:767px){
      .tlt-events .tlt-concept p , .tlt-hospitality .tlt-concept p,.tlt-living .tlt-concept p {
        width: 100%;font-size: 20px;
      }
    }

    @media (max-width:767px){
      .about-events , .about-hospitality,  .about-living{
        padding: 10px 0 0;
      }
    }
    @media (min-width:768px) and (max-width:991px){
      .about-events , .about-hospitality,  .about-living{
        padding: 10px 0 0;
      }
    }

    @media (max-width:767px){
      .about-events .event-box .text-box , .about-hospitality .hospitality-box .text-box,
      .about-living .living-box .text-box{
        padding: 20px 0;
      }
    }
    @media (min-width:768px) and (max-width:991px){
      .about-events .event-box .text-box , .about-hospitality .hospitality-box .text-box,
      .about-living .living-box .text-box{
        padding: 10px 0;
      }
    }

    @media (max-width:767px){
      .about-events .event-box .text-box p,
      .about-hospitality .hospitality-box .text-box p,
      .about-living .living-box .text-box p{
        width: 80%;
      }
    }
    @media (min-width:768px) and (max-width:991px){
      .about-events .event-box .text-box p{
        width: 100%;
      }
    }
    
    @media (min-width:768px) and (max-width:991px){
      .about-hospitality .hospitality-box .text-box p,
      .about-living .living-box .text-box p{
        width: 90%;
      }
    }
   
    @media (min-width:992px) and (max-width:1199px){
      .about-events .event-box .text-box p{
        width: 85%;
      }
    }

    @media (min-width:768px) and (max-width:991px){
      .about-hospitality .hospitality-box .img-box,
      .about-living .living-box .img-box {
        height: 95%;
      }
    }

    @media (max-width:767px){
      .order-last-sm-media{order: 13;}
      .order-first-sm-media{order: -1;}
      .about-events .event-box .last-text,
      .about-living .living-box .last-text{
        margin: 10px auto;
      }
    }

    @media (max-width:767px){
      .about-hospitality .hospitality-box .img-box,
      .about-living .living-box .img-box
      {
        width: 80%;margin:  0 auto;height: 100%;
      }
    }